extends layout

block content
  h1= title

  //Wrapper
  #wrapper

    //COMIC INFO
    #comicInfo
      h2 All Comic Books
      p
        strong Book Number:
        |  <span id='bookNumber'></span>
        br
        strong Book Title:
        |  <span id='bookTitle'></span>
        br
        strong Series Title:
        |  <span id='bookSeriesTitle'></span>
        br
        strong Issue #:
        |  <span id='bookIssueNumber'></span>
        br
        strong Release Date:
        |  <span id='bookReleaseDate'></span>
        br
        strong Format:
        |  <span id='bookFormat'></span>
        br
        strong Signed:
        |  <span id='bookSigned'></span>
        br
        strong Graded:
        |  <span id='bookGraded'></span>
        br
        strong Author(s):
        |  <span id='bookAuthors'></span>
        br
        strong Penciller(s):
        |  <span id='bookPenciler'></span>
        br
        strong Inker(s):
        |  <span id='bookInker'></span>
        br
        strong Cover Artist(s):
        |  <span id='bookCoverArtist'></span>
        br
        strong Publisher(s):
        |  <span id='bookPublisher'></span>
        br
        strong Additional Notes:
        |  <span id='bookNotes'></span>
    //END USER INFO

    //COMIC LIST
    #comicHeading
        h2 Comic List
    #comicList
      table
        thead
          th Book Number
          th Book Title
          th Series Title
          th Format
          th Delete?
        tbody
    //END USER LIST
    
    //ADD COMIC
    #comicHeading    
        h2 Add Comic
    #addComic
      input#inputBookNum(type='text', placeholder = "Book Number")
      input#inputBookTitle(type='text', placeholder = "Book Title")
      br
      input#inputSeriesTitle(type='text', placeholder = "Series Title")
      input#inputIssueNum(type='text', placeholder = "Issue #")
      br
      input#inputReleaseDate(type='text', placeholder = "Release Date")
      input#inputFormat(type='text', placeholder = "Format")
      br
      input#inputSigned(type='text', placeholder = "Signed")
      input#inputGraded(type='text', placeholder = "Graded")
      br
      input#inputAuthors(type='text', placeholder = "Author(s)")
      input#inputPenciler(type='text', placeholder = "Penciler(s)")
      br
      input#inputInker(type='text', placeholder = "Inker(s)")
      input#inputCoverArtist(type='text', placeholder = "Cover Artist(s)")
      br
      input#inputPublisher(type='text', placeholder = "Publisher(s)")
      input#inputNotes(type='text', placeholder = "Additional Notes")
      br
      br
      button#btnAddComic Add Comic Book
    //END ADD COMIC

  //END WRAPPER