extends layout

block content
  h1= title
  p Comics Database

  #wrapper

    //Comic list
    h2 Comic List
    #comicList
      table
        thead
          th Book Number
          th Book Title
          th Series Title
          th Issue #
          th Delete?
        tbody