doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel = "stylesheet" href = "https://fonts.googleapis.com/css?fa,ily=Jua")
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/global.js')